@import '../colors';

.unauthorized-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;

    .header {
        position: fixed;
        top: 0;
        display: flex;
        width: 100vw;
        background-color: $default-background-color;
        padding: 8px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border-bottom: 1px solid $border-color;

        span {
            font-size: 24px;
            font-weight: 700;
        }

        img {
            margin-right: 8px;
            height: 32px;
        }
    }

    .unauthorized {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

        h1 {
            font-size: 64px;
            color: $error-color;
        }

        p {
            font-size: 24px;
        }
    }
}