$primary-color: #6096D4;
$primary-color-light: #94C6FF;
$primary-color-dark: #2768A2;
$secondary-color: #82D3CA;
$secondary-color-light: #B4FFFD;
$black-10: #F0F0F0;
$black-30: #D1D1D1;
$black-50: #B3ACA2;
$black-70: #727276;
$border-color: #6289ab32;
$default-background-color: #ebebeb;
$error-color: #F15E4A;