.collection-pool-detail {
    width: 100%;
    padding: 32px 40px;

    h1 {
        text-align: left;
    }

    .collection-pool-basic-info {
        .collection-pool-basic-info-body {
            img {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 280px;
                border-radius: 10px;
            }
        }
    }
}